<!--
꼬리말 부분
-->
<div class="about">
    <br><br><br>
    <div class="about__divider">**********</div>
    <div class="about__text">
      <strong> Please contact me if you have any question. </strong>
      <div>e-mail : happypjh2001@unist.ac.kr</div>
      <div><a href="https://github.com/hoonably"><img src="https://img.shields.io/badge/-Github-181717?style=flat&logo=GitHub&logoColor=white&"/></a>
        <a href="https://www.instagram.com/hoonably"><img src="https://img.shields.io/badge/Instagram-E4405F?style=flat&logo=instagram&logoColor=white&"/></a></div>
    </div>
  </div>
  <br>