<header class="header">
<div class="navigation">
<a href="{{ '/' | prepend: relative_url }}" class="logo no-target-blank">{{ site.title }}</a>
<ul class="menu">
<li class="menu__entry"><a href="{{ '/about' | prepend: relative_url }}" class="no-target-blank">About</a></li>
<li class="menu__entry"><a href="{{ '/blog' | prepend: relative_url }}" class="no-target-blank">Blog</a></li>
</ul>
</div>
<ul class="social-links">
{% if site.author.email %}
<a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank">
<i class="fa fa-envelope-square"></i>
</a>
{% endif %}
{% if site.author.github %}
<a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
<i class="fa fa-github"></i>
</a>
{% endif %}
{% if site.author.linkedin %}
<a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
<i class="fa fa-linkedin"></i>
</a>
{% endif %}
</ul>
</header>
<!-- highlight.js 추가 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll("pre code").forEach(block => {
      hljs.highlightElement(block);
      const language = block.className.split("language-")[1]; // 언어명 추출
      if (language) {
        const label = document.createElement("div");
        label.className = "code-label";
        label.innerText = language.toUpperCase();
        block.parentNode.insertBefore(label, block);
      }
    });
  });
</script>
